@import url('https://fonts.googleapis.com/css?family=Roboto+Mono', 200, 400, 600, 700);

body {
    background: white;
    color: black ! important ;
    font-family: 'Roboto Mono', monospace;
    line-height: 1;
}

h1 {
    font-weight: 600;
}

* {
    box-sizing: border-box;
}

[class*="col-"] {
    float: left;
    padding: 15px;
    border: 0px solid red;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.grid {
  margin: 0 auto 2rem auto;
  padding: 0 2rem 2rem 0;
  width: 100%;
  max-width: 1024px;
  box-sizing: border-box;
}

.row {
  clear: both;
  margin: 0;
  padding: 2rem 0 0 0;
  width: 100%;
}

.row:after {
  content: '';
  display: block;
  clear: both;
}

.headshot {
    height: 400px;
}

.LinkedIn {
    height: 200px;
}